.image__upload {
  .upload__box {
    width: 100%;
    height: 40vh;
    border-radius: 12px !important;
    background-position: cover;
    background: red;
    //   .image__selector {
    //     &::after {
    //       content: "";
    //     }
    //     &::before {
    //       content: "";
    //     }
    //   }
    .image__selector {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background: transparent;
      appearance: none;
      // visibility: hidden;
    }
  }
}

// input::-webkit-file-upload-button {
//   color: blue !important;
// }
