.card {
   display: flex;
   gap: 8px;
   img {
      object-fit: cover;
      height: 120px;
      width: 120px;
   }

   .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header {
         display: flex;
         justify-content: space-between;
         .text-info {
            display: flex;
            flex-direction: column;
            gap: 4px;
         }
         .buttons {
            display: flex;
            flex-direction: column;
            gap: 4px;
         }
      }
      .footer {
         display: flex;
         gap: 8px;
      }
   }
}
