@mixin hideHorizontalScroll {
   overflow-x: auto;
   overflow-y: hidden;
   -ms-overflow-style: none;
   scrollbar-color: transparent transparent; //hide scrollbar for firefox
   &::-webkit-scrollbar {
      display: none;
   }
   &::-moz-scrollbar {
      display: none;
   }
}
