.home {
   .content {
      padding: 0 20px;
      display: flex;
      gap: 20px;
      @media only screen and (max-width: 1200px) {
         flex-direction: column;
      }

      .content-profileCard {
         min-width: 232px;

         @media (max-width: 1200px) {
            display: flex;
            width: 100%;
            gap: 10px;
         }

         .profileCard {
            max-width: 232px;
         }

         &-options {
            flex-grow: 1;
            width: 100%;
            .name {
               margin: 6px 0 0;
               text-align: center;

               @media (max-width: 1200px) {
                  text-align: left;
                  font-size: 22px;
               }
            }

            .verify-section {
               margin-bottom: 20px;
               .verified {
                  color: var(--primary-color);
                  text-align: center;
                  @media (max-width: 1200px) {
                     text-align: left;
                  }
               }

               .unverified {
                  p {
                     font-size: 11px;
                     line-height: 13px;
                     text-align: center;
                     margin: 4px 0;
                  }
               }
            }

            .link {
               font-size: 14px;
               display: flex;
               align-items: center;
               gap: 4px;
               margin: 10px 0;
               cursor: pointer;
               &:hover {
                  color: var(--primary-color);
               }
            }
         }
      }

      .tabs {
         .tab-title {
            font-size: 14px;
            color: var(--primary-color);
         }
      }
   }
}
