.searchResults {
   display: flex;
   gap: 16px;

   @media (max-width: 810px) {
      flex-direction: column;
   }

   .sideNav {
      border-radius: 4px;
      width: 220px;
      height: fit-content;

      @media (max-width: 810px) {
         width: 100%;
      }
   }
}
