.otpContainer {
  width: 100%;
}

.otpInput {
  height: 4rem;
  width: 4rem;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 2px solid white !important;
  &:focus-visible {
    border: 2px solid #23948866 !important;
  }
}
.main {
  .reset__form {
    width: 25% !important;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    .reset__form {
      width: 100% !important;
    }
  }
  .otpInput {
    height: 3rem;
    margin: 4px;
    width: 3rem;
  }
}

.image__form {
  padding: 0;
  .div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    .upload__box {
      width: 20rem;
      height: 20rem;
      background-size: cover !important;
      background-position: center !important;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      .image__selector {
        cursor: pointer;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
      box-shadow: #88888888 0 6px 20px 0 !important;
    }
  }
}
