.sidebar {
   height: 100vh;
   .circular__container {
      width: 200px;
      height: 200px;
      margin-bottom: 40px;
      .avatar__image {
         object-fit: cover;
      }
   }
   .sidebar__item {
      color: #909090;
      &:hover {
         cursor: pointer;
         background: #23948844 !important;
         color: #239488 !important;
      }
      height: 40px !important;
   }
   .sidebar__item.active {
      background: #239488 !important;
      color: #fefae0;
      &:hover {
         background: #239488 !important;
         color: #fefae0 !important;
      }
   }
   .sidebar__item.highlight {
      color: #239488 !important;
   }
}

@media only screen and (max-width: 767px) {
   .sidebar {
      width: 100vw;
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      flex-direction: row !important;
      height: 50px !important;
      .circular__container {
         display: none;
      }
      .sidebar__icons__box {
         border-top: 1px solid rgb(228, 227, 227);
         margin: 0 !important;
         height: 100% !important;
         // flex-grow: 1;
         justify-content: space-between !important;
         align-items: center !important;
         flex-direction: row !important;
      }

      .sidebar__item {
         margin: 0 !important;
         display: inline;
         height: 100% !important;
         border-radius: 0 !important;
         color: #909090;
         h5 {
            display: none;
         }
      }
      .logout {
         display: none !important;
      }
   }
}
