.profile-card {
   background-image: linear-gradient(147deg, #5cbb67 3%, #1999a7 98%);
   width: 100%;
   height: fit-content;
   padding: 16px;

   &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
         height: 200px;
         width: 200px;
         object-fit: cover;
      }

      .link {
         color: var(--orange);
         cursor: pointer;
      }
   }
}
