@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  background: #f3efe0 !important;
  font-family: "Poppins" !important;
}

* {
  box-sizing: border-box !important;
}

.main {
  width: 100vw !important;
  height: 100vh !important;
}

input,
button {
  border: none !important;
  outline: none !important;
}

.pointer {
  cursor: pointer !important;
}
