@use '../../../../styles/mixins.scss' as *;

.sideNav {
   @include hideHorizontalScroll;

   .pageLink {
      padding: 8px;
      cursor: pointer;
      color: #666;
      border-radius: 4px;
      margin: 4px 0;
      white-space: nowrap;
      &:hover {
         color: var(--primary-color);
      }

      &-active {
         background-color: var(--primary-color);
         color: white;

         &:hover {
            color: white;
         }
      }
   }
}

.pageContent {
   .description {
      max-width: 600px;
   }
}
