.modal {
  .modal-dialog {
    .modal-content {
      border: none !important;
      background: #f3efe0 !important;
    }
    .modal-body {
      form {
        div {
          .d-flex {
            justify-content: space-between;
            .countryCode {
              margin: 0 !important;
            }
            .inputField {
              margin: 0 !important;
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}
